.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem;
}

.container > *{
    max-width: 40rem;
    min-width: 25rem;

}

img{
    border-radius: 3rem;
    flex:1 0;
    object-fit: cover;
    height: 30rem;
    margin: 1rem;
}

.details{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    border-radius: 3 rem;
    padding: 2rem;
    color: black;
    margin-left: 1rem;
}

.details .header{
    display: flex;
    justify-content: space-between;
}

.details .name{
    font-size: 2rem;
    font-weight: bold;
}

.details .favourite{
    color:red;
    font-size: 2.5rem;
}

.details .favourite.not{
    color:grey;
}
.details .origins{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;

}

.details .origins > span{
    padding: .5rem;
    font-size: 1.2rem;
    margin:.5rem .5rem .5rem 0;
    border-radius: 2rem;
    background-color: gray;
}

.details .cook-time{
    margin:1rem;
}

.details .cook-time span{
    padding: .6rem 2rem .6rem 0;
    border-radius: 10rem;
    font-size: 1.3rem;
}

.details .price{
    font-size: 1.8rem;
    margin: 1rem 1rem 1rem 0;
    color: green;
}

.details .price::before{
    content: "Price: ";
    color: grey;

}

.details button{
    color:white;
    background-color: red;
    border: none;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 10rem;
    outline: none;
}
