div{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

div a{
    background-color: bisque;
    padding: 0.3rem 1rem;
    margin:.2rem .15rem;
    border-radius: 10rem;
    color: blue;
    font-weight: 500;
}
